.container {
    margin: 2rem;
}

h1 {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 300;
}

.preview {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2rem;
}

.preview img {
    height: 7rem;
    width: 7rem;
    margin: 1rem auto;
    border-radius: 50%;
}
.preview span {
    font-size: 2rem;
    font-weight: 500;
}

.preview button {
    max-width: 15rem;
    margin: 1rem auto;
}

#email {
    font-weight: 300;
    margin-bottom: 1rem;
}

image-cropper {
    max-height: 500px;
    max-width: 500px;
}

.spacer {
    flex: 1 1 auto;
}
