<mat-toolbar>
    <a class="logo" [routerLink]="['/landing']">
        <span id="title">KE-KS.sk</span>
        <span id="subtitle">Košickí kaktusári a sukulentári</span>
    </a>
    <div class="spacer"></div>
    <a mat-button class="nav-link">Domov</a>
    <a mat-button class="nav-link">Podujatia</a>
    <a mat-button class="nav-link">O nás</a>
    <a mat-button class="nav-link">Odkazy</a>
    <a mat-button class="nav-link">Odhlásiť sa</a>
    <a mat-button class="nav-link" [routerLink]="['/register']">Registrovať sa</a>
    <a mat-button class="nav-link" id="login" [routerLink]="['/login']">Prihlásiť sa</a>
</mat-toolbar>