
.logo {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: var(--side-margin);
    margin-top: 1rem;
    text-decoration: none; 
    color: var(--text-color);
}

.spacer {
    flex: 1 1 auto;
}

.logo span {
    font-weight: 300;
}

#title {
    font-size: 4rem;
    margin-left: -0.3rem;
}

#subtitle {
    font-size: 1.8rem;
}

mat-toolbar {
    height: 8rem;
}

.nav-link {
    display: grid;
    height: 100%;
    font-size: 1.8rem;
    font-weight: 400;
    place-content: center;
    padding: 0 3rem;
}

#login {
    margin-right: var(--side-margin)
}

img {
    height: 5rem;
    border-radius: 50%;
    margin-right: 1rem;
}

mat-divider.style-fix {
    height: 6rem;
    margin-left: 0.5rem;
    margin-right: .5rem;
  }

mat-icon {
    width: 2rem;
    margin-right: 2rem;
    color: black;
}