<form [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-form-field appearance="standard">
    <mat-label>Tvoj email</mat-label>
        <input 
        id="email"
        type="text" 
        matInput
        [ngClass]="{'is-invalid': loginForm.get('email').errors}"
        formControlName="email">
        <mat-error *ngIf="loginForm.get('email').hasError('email')">Zadaj email</mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard">
        <mat-label>Zadaj heslo</mat-label>
            <input 
            id="heslo"
            type="password" 
            matInput
            [ngClass]="{'is-invalid': loginForm.get('password').errors}"
            formControlName="password">
        </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Prihlásiť sa</button>
</form>

<button mat-raised-button color="accent" (click)="authService.googleSignin()">
    Prihlásiť sa cez Google účet
</button>
<button mat-raised-button color="basic" routerLink="/landing">Späť</button>
