<form [formGroup]="updateUserForm" (ngSubmit)="updateUser()">
  <div class="header-line">
    <h1>Môj Profil</h1> 
    <div class="spacer"></div>
    <button mat-raised-button color="primary" type="submit">Potvrdiť zmeny</button>
  </div>
  <mat-divider></mat-divider>
  <div class="profile-line">
    <span class="profile-property">Avatar</span>
    <img src="{{ avatarPreview || user.photoURL }}" alt="Obrázok nenájdený" class="preview-property">
    <div class="spacer"></div>
    <button mat-raised-button color="primary" type="button" (click)="openDialog()">Zmeniť</button>
    <button mat-raised-button color="primary" type="button" (click)="log()">console</button>
  </div>
  <mat-divider></mat-divider>
  <div class="profile-line">
    <span class="profile-property">Používateľské meno</span>
    <span class="display-name preview-property">{{ newName }}</span>
    <div class="spacer"></div>
    <mat-form-field class="display-name-form" color="accent">
      <mat-label>Používateľské meno</mat-label>
      <input matInput 
      type="text" 
      [ngClass]="{'is-invalid': updateUserForm.get('displayName').errors}"
      formControlName="displayName"
      [(ngModel)]="newName">
      <button mat-button *ngIf="newName" matSuffix mat-icon-button aria-label="Clear" type="button" (click)="newName=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <mat-divider></mat-divider>
  <div class="profile-line">
    <span class="profile-property">Pohlavie</span>
    <div class="spacer"></div>
    <mat-radio-group 
      aria-label="Select an option"
      [ngClass]="{'is-invalid': updateUserForm.get('gender').errors}"
      formControlName="gender">
      <mat-radio-button value="male">Muž</mat-radio-button>
      <mat-radio-button value="female">Žena</mat-radio-button>
    </mat-radio-group>
  </div>
  <mat-divider></mat-divider>
  <div class="profile-line">
    <span class="profile-property">Narodeniny</span>
    <div class="spacer"></div>
    <mat-form-field class="date" color="accent">
      <mat-label>Deň</mat-label>
      <mat-select
      [ngClass]="{'is-invalid': updateUserForm.get('day').errors}"
      formControlName="day">
        <mat-option>-</mat-option>
        <mat-option *ngFor="let day of days" [value]="day">{{ day }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="date" color="accent">
      <mat-label>Mesiac</mat-label>
      <mat-select
      [ngClass]="{'is-invalid': updateUserForm.get('month').errors}"
      formControlName="month">
        <mat-option>-</mat-option>
        <mat-option *ngFor="let month of months" [value]="month">{{ month }}</mat-option>
      </mat-select>
      <mat-error *ngIf="updateUserForm.get('month').hasError('required')">Email je povinný údaj</mat-error>
    </mat-form-field> 
    <mat-form-field class="date" color="accent">
      <mat-label>Rok</mat-label>
      <mat-select
      [ngClass]="{'is-invalid': updateUserForm.get('year').errors}"
      formControlName="year">
        <mat-option>-</mat-option>
        <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
      </mat-select>
      <mat-error *ngIf="updateUserForm.get('year').hasError('required')">Email je povinný údaj</mat-error>
    </mat-form-field>
  </div>
  <mat-error *ngIf="updateUserForm.hasError('fillAll')">Neplatný dátum</mat-error>
  <mat-divider></mat-divider>
  <div class="profile-line">
    <span class="profile-property">Bio</span>
    <div class="spacer"></div>
    <mat-form-field appearance="fill" class="about-me-field" color="accent">
      <mat-label>Niečo o mne</mat-label>
      <textarea matInput 
      placeholder="Napr. Môj obľúbený kaktus..."
      [ngClass]="{'is-invalid': updateUserForm.get('bio').errors}"
      formControlName="bio"></textarea>
    </mat-form-field>
  </div>
</form>
