
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import '~firebaseui/dist/firebaseui.css';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
$custom-typography: mat-typography-config(
    $font-family: 'Montserrat'
);

@include mat-core($custom-typography);

// import custom theme
@import './theme.scss';

// import custom componenet themes
// @import './custom-component-themes.scss';


html, body { 
    height: 100%;
    font-size: 62.5%;
}

body { 
    margin: 0; 
    font-family: Montserrat, "Helvetica Neue", sans-serif;
    color: #2D3138;
    // background: linear-gradient(7deg, #e9b27b 0%, #e39e59 43%, #e39e59 100%);
    background: #FFCC80;
}

:root {
    --side-margin: 10rem;
    --text-color: #2D3138;
    --text-shadow: 0.2rem 0.2rem 0.5rem #505160;
}
