
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import '~firebaseui/dist/firebaseui.css';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
$custom-typography: mat-typography-config(
    $font-family: 'Montserrat'
);

@include mat-core($custom-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$keks-spa-primary: mat-palette($mat-yellow);
$keks-spa-accent: mat-palette($mat-lime, A200, A100, A400);

// The warn palette is optional (defaults to red).
$keks-spa-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$keks-spa-theme: mat-light-theme($keks-spa-primary, $keks-spa-accent, $keks-spa-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($keks-spa-theme);

/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%;
    font-size: 62.5%;
}

body { 
    margin: 0; 
    font-family: Montserrat, "Helvetica Neue", sans-serif;
    color: #2D3138;
}

:root {
    --side-margin: 10rem;
    --text-color: #2D3138;
    --text-shadow: 0 0.3rem 0.6rem #50516075;
}
