<form [formGroup]="registerForm" (ngSubmit)="register()">
  <mat-form-field appearance="standard">
    <mat-label>Tvoje používateľské meno</mat-label>
    <input
      id="displayName"
      [ngClass]="{'is-invalid': registerForm.get('displayName').errors && registerForm.get('displayName').touched}"
      matInput
      formControlName="displayName"
      [(ngModel)]="user.displayName"
    />
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Tvoj email</mat-label>
    <input
      id="email"
      matInput
      formControlName="email"
      [(ngModel)]="user.email"
    />
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Heslo</mat-label>
    <input
      id="password"
      type="password"
      [ngClass]="{'is-invalid': registerForm.get('password').errors && registerForm.get('password').touched}"
      matInput
      formControlName="password"
      [(ngModel)]="user.password"
    />
    <!-- <mat-error *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').touched">{{getErrorMessage()}}</mat-error> -->
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Zopakuj heslo</mat-label>
    <input
      id="repeatPassword"
      type="password"
      matInput
      formControlName="repeatPassword"
      [(ngModel)]="user.repeatPassword"
    />
  </mat-form-field>

  <button mat-raised-button color="basic" routerLink="/landing">Späť</button>
  <button mat-raised-button color="accent" type="submit">
    Registrovať sa
  </button>
</form>
